/* .p5Canvas {
  width: 100% !important;
  height: 100% !important;
  border: 5px solid purple;
}

video {
  width: 100% !important;
  height: 100% !important;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
  .css-cjf6hc {
    flex-basis: 30%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 20%;
  }

  .css-1v9qfxr-MuiGrid-root {
    max-width: 20%;
  }
}
