/* .p5Canvas {
  width: 100% !important;
  height: 100% !important;
  border: 5px solid purple;
}

video {
  width: 100% !important;
  height: 100% !important;
} */

body {
  margin: 0;
  margin-top: 70px;
  overflow-x: hidden;
}
