/* .p5Canvas {
  width: 100% !important;
  height: 100% !important;
  border: 5px solid purple;
}

video {
  width: 100% !important;
  height: 100% !important;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}
